body {
  margin: 50px auto;
  max-width: 1200px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div > * {
  margin: 6px;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 18px;
}
